

html,body{
    font-size: 16px;
    background: #170501;
}

nav {
    background: #170501;
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    z-index: 999;
    height: 1.9em;
}
nav .logo{
    margin : 0;
    font-size: 1.6em;
    color: #FFA1B8;
    font-family: 'Roboto', sans-serif;
}

nav .logo span{
    color: #87E0FF;
    display: inline-block;
}

.responsive-img {
    width : 100%;
    min-height: auto;
}

.no-margin{
    margin : 0;
}
.seen {
    background: #87E0FF ;
}

.unseen {
    background: #FFA1B8;
}

.clear-sticky-nav{
    padding : 0;
    padding-top: 1.8em;
}

#home #main-display [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.media-block {
    position: relative;
    overflow: hidden;
}

.media-block .meta{
    position: absolute;
    bottom : 0;
    color : #170501;
}

.media-block .meta .title{
    padding : .1em .4em;
    font-size: 1.5em;
    display: inline-block;
}

.media-block .meta .synopsis {
    color : white;
    background: #0F040C;
    margin : 0;
    height: 150px;
    margin-bottom: -150px;
    transition : margin 1s;
    padding: 0 10px;
}

.media-block:hover .meta .synopsis {
    margin : 0;
    transition : margin 1s easeInCubic;
}

.media-block h3{
    margin: 0;
}

.search-result {
    position: relative;
    overflow: hidden;
    text-shadow: 1px 1px 0px #000;
    color: white;
    cursor: pointer;
}

.search-result .title {
    font-size: 2em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
}

.search-result span {
    position: relative;
    z-index: 1;
}
button.add-movie{
    margin-top: 15px;   
}
.poster {
    margin-top : 20px;
}

.backdrop {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

@media (min-width: 1200px) {
    #home #main-display .media-block{
        padding-left: 1px;
        padding-right: 1px;
    }

    #home #main-display .media-block:nth-child(3n-7){
        
    }

    #home #main-display .media-block:nth-child(3n+1){
        left: -1px;
    }

    #home #main-display .media-block:nth-child(3n+3){
        padding-right: 0;
    }
    .media-block .meta{
        left: 1px;
    }
}